.App-link {
  color: #1ca651;
}
body{
  background: rgb(235, 245, 237);
  background-size: contain;
  font-family: 'Jost', sans-serif;
  box-sizing: border-box;
}
/* SIGN UP PAGE */
.signin-page {
  color: white;
  background-color: white;
  margin: 50px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 10px;
  width: 1000px;
  height: 600px;
}
.signin-wrapper {
  width: 100%;
  height: 100%;
  text-align: center;
}
.login-form {
  background-image:linear-gradient(to bottom right, #25b542 20%, #1c93ff);
  border-top-right-radius: 0px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.register-button-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  color: black;
}
.register-intro {
  margin: 0px 0px 20px 0px;
}
.register-title {
  font-size: 40px;
  margin:0px;
}
.signin-button {
    font-size: 14px;
    padding: .5rem 3rem;
    border: solid 2.5px #eee;
    background: transparent;
    background-origin: border-box;    margin: 10px;
    color:white;
}
  .signin-button:hover {
    box-shadow: none;
    color: #eee;
    background:transparent;
    transform:translate(1px,1px);
  }
  .signin-title {
    font-size: 50px;
  }
/* REGISTRATION MODAL STYLING */
.open-modal {
  background-image:linear-gradient(to bottom right, #25b542 20%, #1c93ff);
  padding: 10px 20px;
  font-size: 20px;
  color:eee;
  border: transparent;
  font-weight: bold;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  width: 150px;
}
.open-modal:hover {
  transform:translate(1px, 1px);
}

/* Container for modal outside and transparent background during it */
.modal {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .5);
  display: flex;
  justify-content: center;
  align-items: center;
}
/* ------------------------- */

/* Modal box with registration form inside */
.modal-content {
  width: 500px;
  background: linear-gradient(to bottom right, #25b542 20%, #1c93ff);
  border-radius: 20px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  color: white;
}
.modal-header, .modal-footer {
  padding: 10px;
}
.modal-title {
  margin: 0;
  font-size: 40px;
  text-align: center;
  font-family: 'Jost', sans-serif;
}
.modal-body {
  padding: 0px 20px;
  text-align: left;
}
/* ---------------------- */

/* 'X' For Closing the Modal */
.modal-x {
  margin-left: auto;
  margin-right: 7px;
  margin-top: 5px;
  margin-bottom: -15px;
  display: block;
  background:transparent;
  border: none;
  font-size: 30px;
  color: white;
}
.modal-x:hover {
  transform: scale(1.2);
  cursor: pointer;
}
/* ------------------- */

/* Submit Form Button Styling */
.modal-footer {
  display: flex;
  justify-content: center;
}
.submit {
  position: relative;
  display: inline-block;
  overflow: hidden;
  transition: .5s;
  margin-bottom: 15px;
}
.form-submit {
  background: rgba(255,255,255,0.3);
  padding: 10px 30px;
  color: white;
  border: none;
  font-size: 16px;
  text-decoration: none;
  font-family: 'Jost', sans-serif;
  font-weight: bold;
  letter-spacing: 1px;
}
a:hover {
  font-family: 'Jost', sans-serif;
  background: rgba(255, 255, 255, 0.3);
}
a span {
  position: absolute;
  display: block;
}
a span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, white);
  animation: btn-anim1 1s linear infinite;
}
@keyframes btn-anim1 {
  0% {
    left: -100%;
  }
  50%,100% {
    left: 100%;
  }
}
a span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, white);
  animation: btn-anim2 1s linear infinite;
  animation-delay: .25s
}
@keyframes btn-anim2 {
  0% {
    top: -100%;
  }
  50%,100% {
    top: 100%;
  }
}
a span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, white);
  animation: btn-anim3 1s linear infinite;
  animation-delay: .5s
}
@keyframes btn-anim3 {
  0% {
    right: -100%;
  }
  50%,100% {
    right: 100%;
  }
}
a span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, white);
  animation: btn-anim4 1s linear infinite;
  animation-delay: .75s
}
@keyframes btn-anim4 {
  0% {
    bottom: -100%;
  }
  50%,100% {
    bottom: 100%;
  }
}
/* ----------------------- */

/* Input Box for Registration Form */
.reg-box{
	width: 70%;
	height: 20px;
	background: #eee;
	justify-content: center;
	display: flex;
	margin: 20px auto;
	padding: 10px;
	border: none;
	outline: none;
	border-radius: 5px;
}
/* -------------------- */
/* REGISTRATION MODAL - END */

/* Navigation Bar */
nav {
  display: flex;
  justify-content: center;
  background-color: #333;
  height: 40px;
}
.navBar .nav-link {
color: #f2f2f2;
padding: 10px 16px;
text-decoration: none;
font-weight: bold;
font-size: 17px;
width: 80px;
text-align: center;
border-radius:5px;
margin:0px 10px;
}
.nav-link:hover {
background-color: #24b450;
transform: scale(1.2);
cursor: pointer;
}
.signout:hover {
  background-color: rgb(201, 0, 0);
}
/* ------------------- */

/* Profile Page */
.profile-page {
  display: flex;
  flex-direction: column;
  width: 600px;
  margin: 50px auto;
  padding: 50px 0px;
  background: white;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
.initial-box {
  font-family: 'Jost', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100px;
  height: 100px;
  background: linear-gradient(to bottom right, #25b542 20%, #1c93ff);
  border-radius: 200px;
  margin: auto auto;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.initials {
  font-family: 'Righteous', cursive;
  color:white;
  font-size: 50px;
}
.profile-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.profile-item {
  width: 400px;
  margin: 8px 0px 8px 0px;
}
.profile-address {
  font-family: 'Jost', sans-serif;
  resize: none;
  width: 400px;
  margin: auto 0px;
  background-color: transparent;
  border: none;
  font-size:18px;
  font-weight: bold;
  text-align: center;
}
.profile-address-updating {
  width: 400px;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0px 0px 0px 0px;
  resize: none;
}
.profile-input {
  width: 400px;
  font-family: 'Jost', sans-serif;
  margin: auto;
  background-color: transparent;
  border: none;
  font-size:18px;
  font-weight: bold;
  text-align: center;
  
}
.profile-input-updating {
  font-family: 'Jost', sans-serif;
  margin: 0px 0px 0px 10px;
  width:400px;
  background: white;
  border: 1px solid black;
}

.profile-button {
  font-family: 'Jost', sans-serif;
  background: linear-gradient(to bottom right, #25b542 20%, #1c93ff);
  border-radius: 8px;
  border: none;
  padding: 5px 20px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  height: 40px;
  margin: 5px 5px;
  width: 200px;
}
.profile-button:hover {
  transform: translate(1px, 1px);
}
/* Card */
.card {
  min-width:200px;
  width: 200px;
  height: 350px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border-radius: 5px;
  margin: 15px;
}
.card-b {
  margin: 2px;
  padding: 2px;
}
.card-image {
   width: 100%;
   border-top-left-radius: 5px;
   border-top-right-radius: 5px;
}
.card-container {
  display: flex;
  flex-direction: column;
}
.card-name {
  word-break: break-word;
  white-space: pre-wrap;
  font-size: 20px;
  padding: 0px 10px;
  margin: 0px 5px 0px 5px;
}
.map-link {
  padding: 10px 0px 0px 0px;
  color: #333;
}
.map-link:hover {
  background: -webkit-linear-gradient(right bottom, #25b542 15%, #1c93ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.card-checkin {
  width: 15px;
  height:15px;
  padding: 0px;
  vertical-align: middle;
}

.card-cat {
  font-size: 14px;
  padding: -20px 10px -20px 10px;
  color: grey;
  word-break: break-word;
  white-space: pre-wrap;
}

/* Cards Set of 5 */
.card-pack {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  flex-wrap: wrap;
}

h1 {
  text-align: center;
  font-family: 'Righteous', cursive;
}

.larger {
  vertical-align: -10%;
  font-size: 50px;
  background: -webkit-linear-gradient(right bottom, #25b542 15%, #1c93ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  filter: drop-shadow(2px 2px #333);
}

.ci {
  display: flex;
  flex-direction: column;
}

.home-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}